html {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 430px;
}

.container {
    width: 900px;
    text-align: center;
}

#loading {
    padding-top: 130px;
    color: #5a5757;
}

.inline {
    display: inline-block;
}

.label {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    fill: black;
    font-weight: bold;
    text-anchor: middle;
}

.line {
    fill: none;
    stroke: teal;
}

.hidden {
    display: none;
}

.chartDiv {
    margin: 30px;
}

.buttonDiv {
    width: 100%;
    text-align: center;
}

svg .y-axis-hourly path {
    stroke: none;
}

svg .y-axis-hourly {
    font-size: 15px;
}

svg #animate-text {
    font-weight: bold;
}

.doughnut-title {
    cursor: pointer;
    font-size: 23px;
    fill: #cc7200;
}

.doughnut-title:hover {
    fill: #5a5757;
}

.doughnut-hour {
    cursor: default;
    font-size: 30px;
    fill: #cc7200;
}

text {
    fill: #5a5757;
    font-weight: bold;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-right: 80px;
    margin: 10px 0;
    color: #5a5757;
}

#time-scale {
    margin-top: 5px;
}

#time-scale > svg > g > g:not(:nth-child(2)):not(:nth-last-child(2)) > text {
    display: none;
}

#time-scale > svg > g > g > text {
    cursor: default;
}

#time-scale > svg > g > g > text {
    fill: #5a5757;
}

#time-scale > svg > g > g > line {
    stroke: #5a5757;
}

#legend-daily-pedestrian > svg > g > path {
    display: none;
}

#legend-daily-parking > svg > g > path {
    display: none;
}

#animate-text {
    font-weight: bold;
    color: #cc7200;
    font-size: 20px;
}

#animate-text:hover {
    color: #5a5757;
    cursor: pointer;
}

.current-day {
    color: #cc7200;
    text-align: center;
    font-size: 20px;
}

#time-scale g.tick line {
    transform: translate(-9px, 0px);
    stroke: #beb9b9;
}

#time-scale path {
    stroke: #beb9b9;
}

.slider-rect {
    width: 30px;
    height: 15px;
    fill: #cc7200;
    cursor: pointer;
}

.slider-rect:hover {
    fill: #5a5757;
}

#animate-text[is-under-animation] {
    color: #5a5757;
    cursor: not-allowed;
}
