html {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fafafa;
    color: #363636;
}

.container {
    width: 950px;
    margin: auto;
}

.emphasize {
    color: #cc7200;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

p {
    line-height: 1.5em;
    font-size: 18px;
}

.hourly-maps {
    width: 100%;
    height: 430px;
    margin: 15px 0;
}

.year_chart {
    width: 100%;
    height: 300px;
    margin: 15px 0;
}

.daily_visualization {
    width: 100%;
    height: 430px;
    margin: 15px 0;
}
