body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B2A29;
    margin: auto;
    width: 850px;
}

.right_axis text {
    fill: #cc7200;
    font-size: 14px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right_axis line {
    stroke: #cc7200;
}

.right_axis path {
    opacity: 0;
}

.left_axis text {
    fill: #2B2A29;
    font-size: 14px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left_axis line {
    stroke: #2B2A29;
}

.left_axis path {
    opacity: 0;
}

.x_axis text {
    fill: #2B2A29;
    font-size: 14px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.x_axis line {
    opacity: 0;
}

.x_axis path {
    stroke: #C0C0C0;
    stroke-width: 2px;
}

.rect-tooltip {
    position: absolute;
    text-align: center;
    padding: 4px;
    width: 120px;
    height: 25px;
    border: 0;
    color: #cc7200;
    font-weight: bold;
}

.container {
    top: 40px;
    position: relative;
    text-align: center;
}

#loading {
    padding-top: 10px;
    color: #5a5757;
}
